In [1]:
# 01_data_exploration.ipynb

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load raw data
DATA_PATH = "../data/raw/expenses_raw.csv"
df = pd.read_csv(DATA_PATH)

# Basic inspection
print("Shape:", df.shape)
display(df.head())
df.info()

# Check missing values
print("\nMissing values:")
print(df.isnull().sum())

# Basic statistics
display(df.describe())

# Convert date column (edit name if needed)
if "date" in df.columns:
    df["date"] = pd.to_datetime(df["date"])

# Sort by date
if "date" in df.columns:
    df = df.sort_values("date")

# Remove duplicates
df = df.drop_duplicates()

print("\nAfter cleaning:")
print(df.shape)

Shape: (69, 14)

,Month,Groceries (₹),Rent (₹),Transportation (₹),Gym (₹),Utilities (₹),Healthcare (₹),Investments (₹),Savings (₹),EMI/Loans (₹),Dining & Entertainment (₹),Shopping & Wants (₹),Total Expenditure (₹),Income (₹)
0,2020-01-01,4860,10000,2595,888,1520,1930,4311,4232,0,3138,1121,30363,40000
1,2020-02-01,6135,10000,2371,851,1630,1923,5939,7329,0,3185,2332,34366,40000
2,2020-03-01,6853,10000,2715,1143,1776,1185,4700,3625,0,2684,1459,32515,36000
3,2020-04-01,6904,10000,2582,869,1975,1274,4420,6426,0,2475,2806,33305,36000
4,2020-05-01,4562,10000,3028,830,1984,1631,4410,3647,0,2146,1020,29611,36000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Month                       69 non-null     object
 1   Groceries (₹)               69 non-null     int64
 2   Rent (₹)                    69 non-null     int64
 3   Transportation (₹)          69 non-null     int64
 4   Gym (₹)                     69 non-null     int64
 5   Utilities (₹)               69 non-null     int64
 6   Healthcare (₹)              69 non-null     int64
 7   Investments (₹)             69 non-null     int64
 8   Savings (₹)                 69 non-null     int64
 9   EMI/Loans (₹)               69 non-null     int64
 10  Dining & Entertainment (₹)  69 non-null     int64
 11  Shopping & Wants (₹)        69 non-null     int64
 12  Total Expenditure (₹)       69 non-null     int64
 13  Income (₹)                  69 non-null     int64
dtypes: int64(13), object(1)
memory usage: 7.7+ KB

Missing values:
Month                         0
Groceries (₹)                 0
Rent (₹)                      0
Transportation (₹)            0
Gym (₹)                       0
Utilities (₹)                 0
Healthcare (₹)                0
Investments (₹)               0
Savings (₹)                   0
EMI/Loans (₹)                 0
Dining & Entertainment (₹)    0
Shopping & Wants (₹)          0
Total Expenditure (₹)         0
Income (₹)                    0
dtype: int64

,Groceries (₹),Rent (₹),Transportation (₹),Gym (₹),Utilities (₹),Healthcare (₹),Investments (₹),Savings (₹),EMI/Loans (₹),Dining & Entertainment (₹),Shopping & Wants (₹),Total Expenditure (₹),Income (₹)
count,69.000000,69.00000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000
mean,6286.913043,11000.00000,2569.260870,967.768116,1978.898551,1750.420290,6317.000000,7612.550725,1130.434783,2739.594203,1963.753623,36704.043478,50446.376812
std,1233.330400,1424.57424,577.704373,149.508523,304.688228,577.078173,1459.367671,2257.266674,2363.403848,679.530641,578.126803,5843.735745,10268.750135
min,4154.000000,10000.00000,1501.000000,700.000000,1514.000000,837.000000,3952.000000,3625.000000,0.000000,1501.000000,1020.000000,28791.000000,36000.000000
25%,5158.000000,10000.00000,2095.000000,851.000000,1683.000000,1289.000000,5161.000000,6072.000000,0.000000,2146.000000,1470.000000,32829.000000,43200.000000
50%,6368.000000,10000.00000,2604.000000,1001.000000,1980.000000,1635.000000,6255.000000,7329.000000,0.000000,2743.000000,1902.000000,34111.000000,48000.000000
75%,6931.000000,13000.00000,3035.000000,1084.000000,2240.000000,2068.000000,7089.000000,9430.000000,0.000000,3185.000000,2369.000000,40672.000000,64000.000000
max,8983.000000,13000.00000,3482.000000,1196.000000,2471.000000,2958.000000,9496.000000,12074.000000,6000.000000,3991.000000,2981.000000,49167.000000,64000.000000

After cleaning:
(69, 14)